# Dependencias - la carpeta más importante, nunca se sube
node_modules/

# Expo
.expo/
dist/
web-build/

# Variables de entorno - datos sensibles
.env
.env.local
.env*.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Android / iOS builds (se generan automáticamente)
android/
ios/